nav{
    background-color: #000;
    margin: 0;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 15px 0;
}

.header__left{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.header__logo{
    cursor: pointer;
    font-weight: 700;
    color: #FFF;
    text-decoration: none;
    font-size: 32px; /*24px;*/
}

.header__logo:hover{
    color: #FFF;
    text-decoration: none;
}

.header__menu-item{
    cursor: pointer;
    color: #FFF;
    text-decoration: none;
}

.header__menu-item:hover{
    color: #FFF;
    text-decoration: underline;
}