@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

body{
    margin: 0 auto;
    font-family: 'Gilroy', sans-serif;
}

p {
    margin: 0;
    font-weight: 300;
}

.container{
    width: 1380px;
    margin: 0 auto;
}

.page{
    margin-top: 30px;
}

.text{
    font-size: 20px;
    font-weight: 300;
}

.bold{
    font-weight: 600;
}

.link{
    text-decoration: none;
    color: black;
}

.link:hover{
    text-decoration: underline;
    color: black;
}

.button{
    background: #000;
    color: #FFF;
    border: none;
    border-radius: 999px;
    padding: 10px 30px;
    text-decoration: none;

    cursor: pointer;
    transition: 1s;
}

.button:hover{
    background: linear-gradient(90deg, #ECEBFF, #FAE2FF, #BEEBFF, #FFE6BD);
    color: #000;
    text-decoration: none;

    transition: 1.2s;
}

.button-light{
    background: none;
    border-radius: 999px;
    padding: 10px 30px;

    cursor: pointer;
    transition: 1s;

    border: 1px solid #000;
    color: #000;
}

.button-light:hover{
    transition: 1s;

    border: 1px solid #FAE2FF;
}

.project-preview{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 20px;

    border: 1px solid #000;
    border-radius: 10px;

    margin-bottom: 10px;
}

.project-preview__wrap{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project-preview__title{
    margin: 0;
}

.footer{
    background: linear-gradient(90deg, #ECEBFF, #FAE2FF, #BEEBFF, #FFE6BD);
    height: 70px;

    padding-top: 30px;

    margin-top: 30px;
}