p {
    margin: 0;
}

body{
    margin: 0 auto
}

.container{
    width: 1380px;
    margin: 0 auto;
}

.text{
    font-size: 20px;
}

.link{
    text-decoration: none;
    color: black;
}

.link:hover{
    text-decoration: underline;
    color: black;
}

.button{
    background: #000;
    color: #FFF;
    border: none;
    border-radius: 999px;
    padding: 10px 30px;
    text-decoration: none;

    cursor: pointer;
    transition: 1s;
}

.button:hover{
    background: linear-gradient(90deg, #ECEBFF, #FAE2FF, #BEEBFF, #FFE6BD);
    color: #000;
    text-decoration: none;

    transition: 1.2s;
}

.button-light{
    background: none;
    border-radius: 999px;
    padding: 10px 30px;

    cursor: pointer;
    transition: 1s;

    border: 1px solid #000;
    color: #000;
}

.button-light:hover{
    transition: 1s;

    border: 1px solid #FAE2FF;
}

.project-preview{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 20px;

    border: 1px solid #000;
    border-radius: 10px;

    margin-bottom: 10px;
}

.project-preview__wrap{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project-preview__title{
    margin: 0;
}